<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    <mat-tab *ngFor="let tab of tabs; let index = index">
        <ng-template mat-tab-label>
            {{tab}}

            <button (click)="removeTab(index)" class="ml-1 btn btn-light btn-sm">
                    <i class="fas fa-times"></i>
            </button>

        </ng-template>
        <div class="row justify-content-end container-fluid">
            <div class="col-1 mt-3">
                <!-- <button (click)="removeTab(index)" class="btn btn-outline-danger btn-sm">
                        <i class="fas fa-times"></i>
                </button> -->
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-12">
                <p class="lead">{{tab}}</p>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>